In [1]:
import pandas as pd 
import numpy as np

In [2]:
df_preprocessed = pd.read_csv('df_preprocessed.csv')

In [3]:
df_preprocessed.head(3)

,reason_type_1,reason_type_2,reason_type_3,reason_type_4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month value,Day of Week
0,0,0,0,1,289,36,33,239.554,30,0,2,1,4,7,1
1,0,0,0,0,118,13,50,239.554,31,0,1,0,0,7,1
2,0,0,0,1,179,51,38,239.554,31,0,0,0,2,7,2

### Create the targets

In [4]:
df_preprocessed['Absenteeism Time in Hours'].median()

3.0

In [5]:
targets = np.where(df_preprocessed['Absenteeism Time in Hours'] > 3, 1, 0)

In [6]:
df_preprocessed['Excessive Absenteeism'] = targets

### Comment on the targets

In [8]:
targets.sum()/targets.shape[0]

0.45571428571428574

In [9]:
data_with_target = df_preprocessed.drop(['Absenteeism Time in Hours'], axis=1) # Data check point

In [10]:
data_with_target.head(2)

,reason_type_1,reason_type_2,reason_type_3,reason_type_4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Month value,Day of Week,Excessive Absenteeism
0,0,0,0,1,289,36,33,239.554,30,0,2,1,7,1,1
1,0,0,0,0,118,13,50,239.554,31,0,1,0,7,1,0

In [11]:
unscaled_data = data_with_target.iloc[:,:-1]

### Standardize the data

In [12]:
from sklearn.preprocessing import StandardScaler

In [16]:
absenteeism_scaler = StandardScaler()

In [17]:
absenteeism_scaler.fit(unscaled_data)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [18]:
scaled_inputs = absenteeism_scaler.transform(unscaled_data)

### Split data into train & test and shuffle

In [19]:
from sklearn.model_selection import train_test_split

In [23]:
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, targets, train_size = 0.8, random_state = 20)